.idea                            
.idea/*                          
.idea/**                         
.project                         
.settings                        
*.iml                            
*.orig                           
target                           
*/target/                        
*/*/target                       
target/*                         
dep_current.txt                  
.classpath                       
.project                         
.settings                        
.settings/*                      
